.main {
	min-height: 100vh;
	padding-top: $padding-top;
	text-align: center;
	margin: 0 1rem;

	&__header {
		font-size: $header-font-size;
		margin: 2rem 0;
		font-weight: bold;
	}
	&__subheader {
		font-size: $subheader-font-size;
	}
	&__image {
		margin-top: 3rem;
		max-width: 100vw;
	}
}

//-------------- tablets -----------------
@media screen and (min-width: 768px) {
	.main {
		padding-top: $padding-top-tablets;
		margin: 0 3rem;
		margin-bottom: -5rem;
		&__header {
			line-height: 6rem;
			font-size: $header-font-size-tablets;
		}

		&__subheader {
			line-height: 5rem;
			font-size: $subheader-font-size-tablets;
		}
	}
}

@media screen and (min-width: 1025px) {
	.main {
		padding-top: $padding-top-desktop;
		max-width: 1200px;
		margin: 0 auto;
		&__header {
			font-size: $header-font-size-desktop;
		}
		&__subheader {
			font-size: $subheader-font-size-desktop;
		}
		&__image {
			margin-top: 0;
			width: 30vw;
		}
	}
}
