nav.navbar {
	background-color: $color-secondary !important;
	font-family: Calibri, sans-serif !important;
}

div.container {
	font-size: 2rem;
}
div.navbar-nav {
	gap: 0.7rem;
}

a.navbar-brand {
	font-size: 4rem;
	color: $color-orange !important;
	outline: none;
}

button.navbar-toggler {
	font-size: 2rem;
}

//---------- tablet size ---------------
@media screen and (min-width: 768px) {
	.navbar-expand-md .navbar-collapse {
		justify-content: end;
	}
}

//------------------desktop size-----------------
@media screen and (min-width: 1025px) {
	nav.navbar {
		padding: 0;
	}
	div.navbar-nav {
		gap: 1rem;
		font-size: 1.5rem;
	}
	a.navbar-brand {
		font-size: 2.8rem;
		line-height: 3.2rem;
	}
}
