.services {
	min-height: 70vh;
	padding-top: $padding-top;
	text-align: center;
	margin: 0 1rem;
	&__header {
		font-size: $header-font-size;
		font-weight: 700;
		margin: 2rem 0;
	}
	&__subheader {
		font-size: $subheader-font-size;
		margin-bottom: 2rem;
		line-height: 120%;
	}
	&__list-items {
		text-align: left;
		margin-left: 2rem;
		font-size: 1.7rem;
	}
	&__list-item {
		margin-top: 1rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		line-height: 130%;
	}
	.services__check {
		flex-shrink: 0;
		color: $color-orange;
	}
}

//------------tablets-----------------
@media screen and (min-width: 768px) {
	.services {
		padding-top: $padding-top-tablets;
		margin: 0 3rem;
		&__header {
			line-height: 6rem;
			font-size: $header-font-size-tablets;
		}

		&__subheader {
			line-height: 5rem;
			font-size: $subheader-font-size-tablets;
		}
		&__list-items {
			font-size: 2.5rem;
		}
		&__list-item {
			margin-bottom: 3rem;
			gap: 2rem;
		}
	}
}
@media screen and (min-width: 1025px) {
	.services {
		max-width: 1200px;
		margin: 0 auto;
		padding-top: $padding-top-desktop;
		&__header {
			font-size: $header-font-size-desktop;
		}
		&__subheader {
			font-size: $subheader-font-size-desktop;
		}
		&__list-items {
			font-size: 2rem;
			margin-left: 20%;
		}
	}
}
