//padding top dla sekcji uwzględniający navbar
$padding-top: 6rem;
$padding-top-tablets: 10rem;
$padding-top-desktop: 5rem;

$color-orange: #e36b08;
$color-secondary: #333;

$header-font-size: 3.5rem;
$header-font-size-tablets: 5rem;
$header-font-size-desktop: 3.5rem;

$subheader-font-size: 2.5rem;
$subheader-font-size-tablets: 4rem;
$subheader-font-size-desktop: 2.5rem;
